body {
    box-sizing: border-box;
}

.container {
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation > .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigation > .links > a {
    color:rgb(112, 112, 112);
    text-decoration: none;
}

.navigation > .links > a:hover {
    color:hsl(35, 77%, 62%);
    text-decoration: none;
}

.main-image {
    background-image: url("assets/images/image-web-3-desktop.jpg");
    height: 300px;
    width: 100%;

}
.mid {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.article {
    display: flex;
    padding: 8px;
}

.heading {
    width: 100%;
    font-size: 40px;
    font-weight: 900;

}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
}

#button > button:hover {
    background: hsl(240, 100%, 5%);
    padding: 8px 15px 8px 15px;
    color: #ffffff;
}

#button > button {
    background: hsl(5, 85%, 63%);
    padding: 8px 15px 8px 15px;
    color: #ffffff;
    border: none;
}

.container-right {
    background: hsl(240, 100%, 5%);
    color: #ffffff;
    padding: 20px;
}

.blogs > h1 {
    color: hsl(35, 77%, 62%);
}

.blogs > hr {
    color: rgb(112, 112, 112);
}

.blog > p {
    color: rgb(189, 189, 189);
}

.blog > h3:hover {
    color: hsl(35, 77%, 62%);
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card {
    display: flex;
    width: 33%;
    gap: 10px;
}

.card-image > img {
    height: 150px;
    width: 120px;
}

.card-content > .card-number {
    color: rgb(112, 112, 112);
}

.card-content > h4 {
    font-size: 20px;
}

.card-content > h4:hover {
    color:hsl(5, 85%, 63%)
}
.card-content > p {
    font-size: 16px;
    color: rgb(112, 112, 112);
}
